@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(118, 136, 201) !important;
}

.container {
  max-width: 700px !important;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.8);
  max-width: 700px;
}

.todos li {
  background: #5c72d6;
}

.delete {
  cursor: pointer;
  color: black;
  font-size: 20px;
}

/* .filtered {
  display: none !important;
} */
